<h3>User</h3>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<h4>Your APIs</h4>
<ul>
  <% user_apis = [] %>
  <% @user.api_tokens.each do |api| %>
      <li><b><%= api.provider.camelize %>:</b></li>
      <% user_apis << api.provider %>
  <% end %>

  <% if user_apis.include?('fatsecret') %>
      <%= link_to "Get FatSecret Profile", fatsecret_auth_path(@user, :method => 'profile.get'), :method => 'post' %>
  <% else %>
      <%= link_to 'Add FatSecret', new_user_api_token_path(@user) %>
  <% end %>
</ul>

<p>
<h3>Update your weight on FatSecret:</h3>
<%= form_tag fatsecret_auth_path(@user) do %>
    <%= label_tag(:goal_weight_kg, "Enter your goal weight in kg:") %>
    <%= text_field_tag(:goal_weight_kg) %><br />
    <%= label_tag(:current_height_cm, "Enter your current height in cm:") %>
    <%= text_field_tag(:current_height_cm) %><br />
    <%= label_tag(:current_weight_kg, "Enter your current weight in kg:") %>
    <%= text_field_tag(:current_weight_kg) %><br />
    <%= hidden_field_tag 'method', 'weight.update' %>
    <%= submit_tag("Update Weight") %>
<% end %>
</p>

<p>
<h3>Request Script Session Key:</h3>
<%= form_tag fatsecret_auth_path(@user) do %>
    <%= hidden_field_tag 'method', 'profile.request_script_session_key' %>
    <%= submit_tag("Get Key") %>
<% end %>
</p>


<div id="my_container" class="fatsecret_container" ></div>
